<?xml version="1.0" encoding="UTF-8"?>
<plugin name="FactoryInterfacePlugin" version="1.0">
     <interfacePlugin name="SSE" version="1.4" descriptionFile="sse_14.xml" />
     <interfacePlugin name="SSE" version="1.6" descriptionFile="sse_16.xml" />
     <interfacePlugin name="EOLI" version="2.6" descriptionFile="eoli_26.xml" />
     <interfacePlugin name="EOLI_Order" version="3.4" descriptionFile="Eoli_Order_34.xml" />
     <interfacePlugin name="OGC-06-141" version="0.9.4" descriptionFile="OGC06-141_094.xml" />
     <interfacePlugin name="OGC-06-141" version="0.9.4" descriptionFile="OGC06-141_094_proxy.xml" />
     <interfacePlugin name="" version="" descriptionFile="outOfRepo.xml" />
</plugin>
