BODY { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
H1,H2,H3,H4,H5 { font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12pt;font-weight:bold; }
P,SPAN,DL,DT,DD,OL,UL,CAPTION { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
TD {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
SELECT,INPUT {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }
A  {  color: #000066; text-decoration: none; }
.tmlft {
	margin: 1px 1px 1px 1px ;
	padding: 0px 4px 1px 0px ;
	width: 100px;
	height: 65px;
	float: left;
}
.tmrgt {
	margin: 1px 1px 1px 1px ;
	padding: 0px 0px 1px 4px ;
	width: 100px;
	height: 65px;
	float: right;
}
.tm {
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: gray;
	padding: 1px 1px 1px 1px ;
}

.flagcolour {
	background-color: #336699;
}

.darkbloc { 
	background-color: #E7EDF5;
	padding-left: 2px;
}


.lghtbloc {
	background-color: #b6cee7; 
	padding-left: 2px;
}

.whitebloc { 
	background-color: #FFFFFF;    
	padding: 1px 0px 1px;
}
.arbloc {

	text-align: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #336699;
    border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #336699;
    border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
    padding-left: 6px;
	/*/*/padding: 0px 6px 4px 1px;/* */
	/*/*/margin: 0px 1px 2px 0px;/* */
}

.arbloc_t {

	text-align: left;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #336699;
    border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #336699;
    border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
    padding-left: 6px;
	/*/*/padding: 0px 6px 4px 1px;/* */
	/*/*/margin: 0px 1px 2px 0px;/* */
}

.arttl {
	font-weight: bold;
	font-size: 10px;
	color:#336699;
	text-align: right;
    padding-left: 2px;
	/*/*/text-indent: 5pt;/* */
}
.news {
	font-size: 10px;
	padding: 2px 0px 1px 0px;
	color: #000000;
	text-align: justify;

}
.tm_news {
	margin: 1px 1px;
	padding: 0px 4px 1px 0px;
	float: left;
	border: 1 #666666;
}
.ttl_news {
	color: #336699;
	font-size: 9px;
	font-weight: bold;
}
.list {  font-size: 10px; font-weight: bold; color: #41af85}
.raque {  font-size: 8px; font-weight: bold; color: #41af85}
.corsivo {  font-style: italic}
.whttl { color:#FFFFFF; text-decoration:none; font-size: 12px; font-weight:bold; }

.search {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color:#FFFFFF;
	text-align: right;
	border-right-style: solid;
	border-right-color: white;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-right-width: 1px;
	border-bottom-width: 1px;
	margin-right: 15px;

	}
.tic
	{ font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold; font-size: 10px;  color:#FFFFFF;
}
.itm {font-family:verdana,helvetica,arial,geneva;font-size:11px;color:white}
.activ {font-family:verdana,helvetica,arial,geneva;font-size:11px;color:black}
div.mnu { }
div.mnu a { text-decoration: none; }
div.mnu a:hover { color: #FFFFFF;text-decoration:underline }
.padlr { margin: 0px 10px 0px 10px; }
.arttlCopy {

	font-weight: bold;
	font-size: 10px;
	color:#336699;
	text-align: left;
}
.news1 {

	font-size: 12px;
	padding: 2px 0px 1px 0px;
	color: #000000;
	text-align: justify;
}
