
a
{
	color: #336699;
	//text-decoration:none;
}

img
{
	border: none;
}


body
{
	width: 99%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px ; 
	top: 0px;
	margin:0px;
	padding:0px;
	padding-left:.5%;
	padding-right:.5%;
	
}


p, span, dl, dt, dd, ol, ul, caption, legend { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; }

/* style for the personalization template */

.headerTemplate
{
	width: 100%;
	margin: 0px;
	background-color: #e7dfe7;
	padding: 0px;
	border-color:gray;
	border-width:1px;
	border-style: solid;
	font-size: 0.8em ; 
	align: center;
	

}  


.footer
{
	width: 100%;
	border-color:gray;
	border-width:1px;
	border-style: solid;
}

.pageBody
{
	padding:0px;
	margin:0px;
	width: 100%;
	font-size:0.8em;
	border-color:gray;
	border-width:1px;
	border-style: solid;
	background-color:#E7EDF5;/*#FFFFFF;*/
	
}


/* end style for the personalization template */

.logo
{
	background-repeat: no-repeat; 
	background-color: #607a92;
	padding: 0px;
}

.logoTop
{
	background-image: url('../../images/directory_top.gif');
	background-position: right bottom; 
	height: 60px;
}

.logoBottom
{
	background-image: url('../../images/directory_bot.gif');
	background-position: right top; 
    margin-top: 2px;
	height: 13px;
}


.logoTop img
{
	position: relative;
	top: 37px;
	left:0;
}

#bread
{
	padding-left:5px;
}

.path
{
	margin-top: 2px;
	height: 13px;
}
.path
{
	font-size:10px;
	color: #FFFFFF;
}

.path a
{
	font-size:10px;
	color: #FFFFFF;
}

.path a:hover
{
	color: #000000;
}

.spacer
{
	clear: both;
	float: none;
	height: 0px;
	margin: 0px;
	padding: 0px;
}

.left
{
	text-align: left;
	float: left;
}
.right
{
	text-align: right;
	float: right;
	padding: 0px;
	margin: 0px;
}



.blacklink
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color:#000000;
}	



.centerButton
{
	text-align : center;
	display : block;
	margin-left : auto;
	margin-right : auto;
}


.button
{
	margin:0px;
	padding:0px;
	text-align: right;
	height: 15px;
	width: 18px;
}

.buttonRight
{
	margin:0px;
	padding:0px;
	height:1.6em;
	right:2px;
	float: right;
}

form:p
{
	margin: 2px;
}



.itemCategoryTitle
{
	width: 99.5%;
	background-color:	#b6cee7;
	margin:3px;
	padding:0px;
	text-align: center;
	font-size:2em;  
}
	
dl.description
{
	width: 58%;
	background-color: rgb(231, 237, 245);
	padding: 1%;
	float: left;
}

dl.ontology
{
	width: 37%;
	background-color: rgb(182, 206, 231);
	float: left;
	padding: 1%;
}

dt
{
	font-weight: bold;
	color: rgb(51, 102, 153);
	
	width: 15em;
	float: left;
	margin-right:0px;
}
dt.title
{
	width:100%;
	background-color: #b6cee7;
	text-align: center;
	
}
dd
{
	margin-left:15em;
}

.description dt,  .description dd
{
	margin-top: 0.5em;
}

.blue
{
	background-color: rgb(182, 206, 231);

}

.mainMenu
{
	position: absolute;
	left:0px;
	width: 200px;
	
	background-color:#EEEEEE;
	
	font-style:normal;
	font-size: 11px;

}


.mainMenu ul
{
	margin-top:0px;
	margin-left: 0px;
	padding:0px;
}


.mainMenu ul li
{
	padding:5px;
	list-style-type:none;
	border-bottom: #C9C9C9 solid 1px;
	width:190px;

}

.error
{
	color: red;
	font-size: 14px;
}

.formLabel
{
	/*padding-left:5px;*/
	width: 20em;
	display:block;
  float:left;
	text-align:left;
}


/*formText is a tempory style used in ServiceDetailedInfoUI-Main.jsp to solve display problems (with long text)  */
.formText
{
	display:block;
	margin-left:20em;
	margin-bottom:1em;
}

.formLabel2
{
	/*padding-left:5px;*/
	width: 20em;
	display:block;
    float:left;
	padding-left:50px;
}


.formline
{
	padding-top:5px;
	padding-bottom:5px;
}
.formline1
{
	padding-left:200px;
}
.mandatory
{
	font-weight:bold;
}

.formInput
{

	text-align:left;
}

form p
{
	/*text-align:center;*/
}

.list
{
	border: solid black 1px;
	width:100%;

}
.list th
{
	background-color: #b6cee7;
	color: black;
	font-weight: bold;
}

.list th a:link
{
	background-color: #b6cee7;
	color: black;
	font-weight: bold;
}


.list td
{
	border: solid black 1px;

}

.formInput select
{
	width: 20em;

}
.formInput input
{
	width: 20em;

}

.formCenter
{
	text-align:center;
}

p 
{
	padding-left: 5px;
}

.footerText
{
	padding-top:5px;
	padding-bottom:5px;
	font-size: 0.8em;
}

h1
{
	text-align:center;
	font-weight: bold;
	font-size: 1.4em;
	background-color: #71a0d0;
	padding-top:5px;
	padding-bottom:5px;
	margin:0px;
	
	border-color:gray;
	border-width:1px;
	border-style: solid;
}

h2
{
	text-align:center;
	font-weight: normal;
	color:#336699;
	background-color: #b6cee7;
	border-top-color: #ffffff;
	border-top-style:solid;
	border-top-width: 2px;
	border-bottom-color: #ffffff;
	border-bottom-style:solid;
	border-bottom-width: 2px;
}

.orderLabel
{
	margin-left:10px;
    width: 20em;
    float: left;
    text-align: left;	
	font-weight: bold;
    color: #336699;
}

.orderValue
{
	text-align: left;
}

/* style for the footer menu */

.menu
{
	width:100%;
	background-color: #325e8f;
	margin:0px;
	padding:0px;
}

.menu a
{
	width: 12.5%;
	color: #ffffff;
	background-color: #325e8f;	
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;	
}

.menu a:hover
{
	color: #000000;

}

.menu .center
{
	text-align: center;
	float: left;
	font-family:verdana,helvetica,arial,geneva;
}
.menu .center2
{
	width:23%;
	text-align: left;
	float: left;
	font-family:verdana,helvetica,arial,geneva;
}

.menu2
{
	width:100%;
	background-color: #325e8f;
	margin:0px;
	padding:0px;
}

.menu2 a
{

	width: 12.5%;
	color: #ffffff;
	background-color: #325e8f;	
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;	
}

.menu2 a:hover
{
	color: #000000;

}

.menu2 .center
{
	text-align: center;
	float: left;
	font-family:verdana,helvetica,arial,geneva;
}

/* end style for the footer menu */

/* style for portlet background */

.itemLight
{
	background-color:	#E7EDF5;
}

.itemDark
{
	background-color:	#b6cee7;
}

/* end style for portlet background */

/* style for the quick link,search portlet */
.double
{
	margin: 0.15%;
	float: left;
	width: 49.5%;
	border:0px;
	
}

.double .itemLight
{
	margin: 0px ;
}
.double .itemDark
{
	margin: 0px ;
}

.searchDiv
{
	float: left;
	width: 49.9%;
	height:4em;
	border-right: #FFFFFF solid 1px;
	
}

.searchForm 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color:black;/*#336699;*/
	border-bottom: #FFFFFF solid 1px;
	height:3em;
	text-align: right;
	vertical-align:center;
}	

.quickLink
{
	float: left;
	width: 49.9%;
	padding:0px;
	margin:0px;
}

.quickLink a
{
    padding:3px;
	text-align:justify;
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 10px;

}
.quickLink div
{	
	color: #000066;
	text-decoration: none;
	height: 16px;
	text-align: left;
	border-top: #336699 solid 1px;	
	border-bottom: #336699 solid 1px;
	border-right: #336699 solid 1px;
	border-left: #336699 solid 1px;
	background-color:#b6cee7;
}
.quickLink div a
{ 
	padding:0px;
	font-weight: bold;
	padding-left:5px;
	background-color: #b6cee7;
	color:black;
	
}

.top
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color:black;
	vertical-align:bottom;
}

.whileline
{
	border-bottom: #FFFFFF solid 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color:black;
	text-align: left;	
	padding-bottom:2px;
}

.twoColumns
{
	font-weight: bold;
	color:#336699;
	margin-top:1em;
	//margin-left:1px;
	float: left;
	text-align:left;
	width: 130px;
}

/* end style for the portlet quick link, search */



/* style for portlet picture */
.labelHomePage
{

	float: left;
	height: 71px;
	width:98px;
	vertical-align:middle;
	border:gray double 3px;
	margin-right:7px;
	margin-bottom:7px;
	margin-left:0px;
}

/* end style for portlet picture */


/* style for the portlets */
.portletItem
{
	margin: 0.15%;
	float: left;
	width: 49.5%;
	
	
	
	
}

.portletItem p
{
   
    padding:0px;
	//margin: 2px;
	//margin-left: 0px;
	text-align:justify;
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color:black; 
    /*height: 100%;*/
    margin:7px;

}




.portletItem div
{	
	color: #000066;
	text-decoration: none;
	height:16px;
	padding:0px;
	margin:0px;
	text-align: left;
	border-top: #336699 solid 1px;	
	border-bottom: #336699 solid 1px;
	background-color:#b6cee7;
	vertical-align: center;
	margin-left:7px;
	margin-right:7px;
	margin-top:7px;
}


.portletItem div a
{ 
    padding: 0px;
	font-weight: bold;
	border: 0px;
	padding-left:5px;
	float:left;
	width: 200px;
	padding-right:0px;
	background-color: #b6cee7;
	color:#336699;
	font-size: 10px;
	height:100%;
	vertical-align: center;
	border-left: #336699 solid 1px;
}

.portletItem div a img
{ 
	padding:0px;
	vertical-align: center;
}

.portletItem div span
{
	width: 35%;
	height: 100%;
	margin: 0px;
	padding:0px;
	padding-left:0px;
	margin:0px;
	float:right;
	background-color:#336699;
	border: 0px;
}

.portletItem div span img
{
	width: 18px;
	height: 16px;
	border: 0px;
	
	
}

.portletItem div p
{
	margin: 0px;
	padding:0px;
	margin-right:0px;
	vertical-align:center;
	text-align:justify;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	
	
}
/* end style portlet */

/* style for portlet action button */
.pcloseButton
{ 
	text-align: right;
	float: right;
	background-color:#336699;
	padding-right:0px;
	height: 16px;
	
	
}
.closebutton
{
	margin:0px;
	padding:0px;
	text-align: right;
	right:0px;
	padding-right:0px;
	background-color:#336699;
	border: 0px;
	width:18px;
	height:15px;
}

.closebutton img
{
height:8px;
}
/* end style for portlet action button */


/* style for service and organisation categories title bar */
.categoryItem
{
	margin: 0.15%;
	float: left;
	width: 49%;
	border:1px solid red;
	
	
}


.categoryItem div
{	
	color: #000066;
	text-decoration: none;
	height: 16px;
	width: 100%;
	padding:0px;
	margin:0px;
	text-align: left;
	border-top: #336699 solid 1px;	
	border-bottom: #336699 solid 1px;
	/* border-right: #336699 solid 1px;*/
	/* border-left: #336699 solid 1px;*/
	background-color:#b6cee7;
   	vertical-align: center;
}


.categoryItem div a
{ 
    padding:0px;
    margin:0px;
    font-weight: bold;
	border: 0px;
	padding-left:5px;
	float:left;
	padding-right:0px;
	background-color: #b6cee7;
	color:#336699;
	font-size: 10px;
	height:100%;
	vertical-align: center;
	border-left: #336699 solid 1px;
}

.categoryItem div a img
{ 
	padding:0px;
	vertical-align: center;
}

.categoryItem div span
{
/*	vertical-align:middle; */
	width: 49%;
	height: 100%;
	margin: 0px;
	padding:0px;
	padding-left:0px;
	margin:0px;
	float:right;
	background-color:#336699;
	border: 0px;
	
	
}


.categoryItem div p
{
	margin: 0px;
	padding:0px;
	margin-right:0px;
	vertical-align:center;
	/*font-size: 14px;*/
	text-align:justify;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	
	
}

.categoryItem  p
{
    padding: 0px;
    margin: 7px;
	text-align:justify;
	font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color:black;
	float:center;
	
}

.categoryItem a
{
    font-size:12px;
    padding:0px;
    /*padding-top:10px;*/
	margin: 0px;
	float:left;
	
	
}

.categoryItem  a img
{
	/*padding-top:10px;*/
	vspace: 10px;
	
}


.categoryItemTmp
{
	float: left;
	width: 100%;
	
	
}

/* end style for service and organisation categories title bar */


/*#newCatSubTitle, #newCatTitle*/
#newCat
{
  position: absolute;
  right:2em;
  top:220px;

  width: 40em;
}

.subscription
{
  border-style:none;
  margin:0px;
  padding:0px;
}

.subscription p
{
  margin-left:20em;
  padding-left:10px;
  margin-top:0px;
  margin-bottom:0px;

  padding-top:0px;
  padding-bottom:0px;
 
}
.subscription legend
{
  position:relative !important;
  bottom:-2em !important;
  padding-left:5px;

}
label
{
  margin:0px;
  padding:0px;
}

form p
{
  margin-top:2px;
  margin-bottom:2px;

  padding-top:0px;
  padding-bottom:0px;
  padding-left:10px;
}




/* ACL this style are used by the panel in the search page */

#form
{
  height:400px;
  width:210px;
}

#classic, #advanced
{
  height:200px;
  overflow-y: auto;
}

#classic p, #advanced p
{
  margin:0px;
  padding:0px;
}


#tabPanel
{
  margin: 3px;
}

#tabPanel #tabTitle .selected
{
  border-bottom-width : 1px;
  border-bottom-color : white;
  border-bottom-style : solid;

  background-color:#E7EDF5;
}

#tabPanel #tabTitle
{
  padding:0px;
  margin:0px;

}

#tabPanel #tabTitle span
{
  padding:0px;
  margin:0px;
  padding-right:5px;
  padding-left:5px;
  border-width : 1px;
  border-color : black;
  border-style : solid;

  background-color:#B6CEE7;
}

#tabPanel div
{
  border-width : 1px;
  border-color : black;
  border-style : solid;
  background-color:#E7EDF5;
  
  padding:2px
}
#optionsBuffer
{
  display:none;
}
