<?xml version="1.0" encoding="UTF-8"?>
<plugin name="FactoryInterfacePlugin" version="1.0">
    <interfacePlugin name="OGC-06-131r6" version="0.0" descriptionFile="OGC-06-131r6_standalone.xml" />
    <interfacePlugin name="OGC-06-131r6" version="0.0" descriptionFile="OGC-06-131r6_gateway.xml" />
    <interfacePlugin name="OGC-06-131r6" version="0.0" descriptionFile="OGC-06-131r6_proxy.xml" />
    <interfacePlugin name="OGC-07-038" version="0.0" descriptionFile="OGC-07-038_gateway.xml" />
    <interfacePlugin name="OGC-07-038" version="0.0" descriptionFile="OGC-07-038_proxy.xml" />
    <interfacePlugin name="OGC-05-025r3" version="0.0" descriptionFile="OGC-05-025r3_gateway.xml" />
    <interfacePlugin name="OGC-05-025r3" version="0.0" descriptionFile="OGC-05-025r3_proxy.xml" />
    <interfacePlugin name="OGC-07-045" version="1.0" descriptionFile="OGC-07-045_proxy.xml" />
    <interfacePlugin name="OGC-07-045" version="1.0" descriptionFile="OGC-07-045_gateway.xml" />
</plugin>
