

.webgis-mapaction-removeAOI {
	background-image: url(../img/removeAOI.png) !important;
        background-repeat: no-repeat;
}


.webgis-mapaction-toolboxclient .x-btn-text {
	background-image: url(../img/desktop/icons/Toolbox_new_green.gif)
}

.webgis-mapaction-toolboxcatalogueclient .x-btn-text {
	background-image: url(../img/desktop/icons/Toolbox_new_red.gif)
}

.webgis-mapaction-wsclient .x-btn-text {
	background-image: url(../img/desktop/icons/Toolbox_new_blue.gif)
}

.webgis-mapaction-drawAOI {
	background-image: url(../img/drawAOI.png) !important;
        background-repeat: no-repeat;
}