<?xml version="1.0" encoding="UTF-8"?>
<plugin name="RESTManagerCommandsPlugin" version="1.0">
    <restCommandViaGet cmd="/rest/manager/authenticate" class="it.intecs.pisa.toolbox.plugins.restManagerNativePlugins.AuthenticateCommand"/>
    <restCommandViaGet cmd="/rest/manager/getInterfacesTypes" class="it.intecs.pisa.toolbox.plugins.restManagerNativePlugins.GetInterfacesTypesCommand"/>
</plugin>

