<?xml version="1.0" encoding="UTF-8"?>
<plugin name="ManagerCommandsPlugin" version="1.0">
    <commandViaGet cmd="getTimerScript" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetTimerScriptCommand"/>
    <commandViaGet cmd="getScript" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetOperationScriptCommand"/>
    <commandViaGet cmd="getServiceDescriptor" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServiceDescriptorCommand"/>
    <commandViaGet cmd="GetServiceList" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServiceListCommand"/>
    <commandViaPost cmd="getSrvLog" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServiceLogCommand"/>
    <commandViaGet cmd="getSrvLog" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServiceLogCommand"/>
    <commandViaGet cmd="getSrvWSDL" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServiceWSDLCommand"/>
    <commandViaGet cmd="getSrvSchema" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServiceSchemaCommand"/>
    <commandViaGet cmd="getSynchInstances" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetSynchronousInstancesCommand"/>
    <commandViaPost cmd="getTbxLog" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetToolboxLogCommand"/>
    <commandViaGet cmd="getTbxLog" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetToolboxLogCommand"/>
    <commandViaGet cmd="getAsynchInstances" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetAsynchronousInstancesCommand"/>
    <commandViaGet cmd="getResource" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetResourceCommand"/>
    <commandViaGet cmd="proxyRedirect" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ProxyRedirectCommand"/>
    <commandViaGet cmd="getVersion" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetToolboxVersionCommand"/>
    <commandViaGet cmd="initDebugConsole" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.InitDebugConsoleCommand"/>
    <commandViaGet cmd="getInstalledPlugins" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetInstalledPluginsCommand"/>
    <commandViaGet cmd="getPluginConfiguration" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetPluginConfigurationCommand"/>
    <commandViaGet cmd="savePluginConfiguration" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.SavePluginConfigurationCommand"/>
    <commandViaGet cmd="getServiceRSS" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServiceRSSCommand"/>
    <commandViaGet cmd="resetServiceStatusFiles" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ResetServiceStatusFilesCommand"/>
    <commandViaPost cmd="applyFtpChanges" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ApplyFTPChangesCommand"/>
    <commandViaPost cmd="deleteFtpUser" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.DeleteFTPUserCommand"/>
    <commandViaGet cmd="getOpTestInputPage" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetPortalLikeInputHTMLCommand"/>
    <commandViaGet cmd="getOpTestInputXML" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetPortalLikeInputXMLCommand"/>
    <commandViaGet cmd="getOpTestOutputPage" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetPortalLikeOutputHTMLCommand"/>
    <commandViaGet cmd="executePortalLike" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ExecutePortalLikeCommand"/>
    <commandViaPost cmd="executePortalLike" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ExecutePortalLikeCommand"/>
    <commandViaGet cmd="getPortalLikeResponseFromPushServer" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetPortalLikeResponseFromPushServer"/>
    <commandViaGet cmd="hasSSEStylesheet" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.HasSSEStylesheetCommand"/>
    <commandViaGet cmd="hasGMLOnMapStylesheet" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.HasGMLOnMapStylesheetCommand"/>
    <commandViaGet cmd="getGMLForMessage" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetGMLForMessageCommand"/>
    <commandViaGet cmd="authenticate" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.AuthenticateCommand"/>
    <commandViaGet cmd="invalidateAuthentication" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.InvalidateAuthenticationCommand"/>
    <commandViaGet cmd="clearSrvLog" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ClearServiceLogCommand"/>
    <commandViaGet cmd="clearTbxLog" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ClearToolboxLogCommand"/>
    <commandViaPost cmd="configureOperation" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ConfigureOperationCommand"/>
    <commandViaGet cmd="configureOperation" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ConfigureOperationTDECommand"/>

    <commandViaGet cmd="delSrv" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.DeleteServiceCommand"/>
    <commandViaGet cmd="deleteOperation" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.DeleteOperationCommand"/>
    <commandViaPost cmd="DeployFromInterface" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.CreateServiceCommand"/>
    <commandViaPost cmd="configureService" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ConfigureServiceCommand"/>
    <commandViaPost cmd="configureToolbox" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ConfigureToolboxCommand"/>
    <commandViaPost cmd="CreateOperationFromInterface" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.CreateOperationFromInterfaceCommand"/>
    <commandViaGet cmd="getSchemaFile" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetSchemaFileCommand"/>
    <commandViaGet cmd="stopFTPServer" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.StopFTPServerCommand"/>
    <commandViaGet cmd="startFTPServer" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.StartFTPServerCommand"/>
    <commandViaGet cmd="deleteInstances" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.DeleteInstancesCommand"/>
    <commandViaGet cmd="cancelInstance" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.CancelInstanceCommand"/>
    <commandViaPost cmd="bulkOperationAdd" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.BulkOperationAddCommand"/>
    <commandViaGet cmd="getXMLResource" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetXMLResourcesCommand"/>
    <commandViaGet cmd="delAllInstances" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.DeleteAllInstancesCommand"/>
    <commandViaGet cmd="isServiceNameAvailable" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.IsServiceNameAvailableCommand"/>
    <commandViaGet cmd="isOperationNameAvailable" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.IsOperationNameAvailableCommand"/>
    <commandViaGet cmd="isSoapActionAvailable" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.IsSoapActionAvailableCommand"/>
    <commandViaPost cmd="validateToolboxScript" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ValidateToolboxScriptCommand"/>
    <commandViaGet cmd="delPushedMsg" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.DeletePushedMessageCommand"/>
    <commandViaGet cmd="getTextResource" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetTextResourceCommand"/>
    <commandViaGet cmd="getAllServiceInstances" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetAllServiceInstancesCommand"/>
    <commandViaGet cmd="importGroupServices" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ImportServicesGroupCommand"/>
    <commandViaGet cmd="exportGroupServices" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.ExportServicesGroupCommand"/>
    <commandViaGet cmd="getServicesListFromServices" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServicesListFromServicesGroupCommand"/>

    <commandViaGet cmd="getServiceResource" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetServiceResourceCommand"/>
    <commandViaGet cmd="deleteServiceResource" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.DeleteServiceResourceCommand"/>
    <commandViaGet cmd="getLog" class="it.intecs.pisa.toolbox.plugins.managerNativePlugins.GetLogCommand"/>
</plugin>

