<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ArchivingServerServlet</servlet-name>
        <servlet-class>it.intecs.pisa.archivingserver.rest.ArchivingServerServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FTPServerServlet</servlet-name>
        <servlet-class>it.intecs.pisa.archivingserver.rest.FTPServerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>it.intecs.pisa.archivingserver.rest.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreData</servlet-name>
        <servlet-class>it.intecs.pisa.archivingserver.rest.StoreData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ARMSServlet</servlet-name>
        <servlet-class>it.intecs.pisa.archivingserver.rest.ARMSGenericServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArchivingServerServlet</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FTPServerServlet</servlet-name>
        <url-pattern>/ftp/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/rest/config/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreData</servlet-name>
        <url-pattern>/rest/storeddata/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ARMSServlet</servlet-name>
        <url-pattern>/arms</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>manager.html</welcome-file>
    </welcome-file-list>
</web-app>
